<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= doc.title %></title>
    <link rel="stylesheet" type="text/css" href="/css/document.css">
</head>
<body>
<%- include('../partials/header.ejs') %>

<div class="container">
    <main class="document-view">
        <article class="document-content">
            <h1><%= doc.title %></h1>
            <p><i>
                    <% doc.categories.forEach(category => { %>
                        <%= category.category_name %>
                    <% }); %>
                </i></p>
            <p><%= doc.description %></p>
            <p><strong>Autor:</strong> <%= doc.author %></p>
            <p><strong>Dodano:</strong> <%= new Date(doc.uploaded_at).toLocaleDateString() %></p>
            <p><strong>Dodany przez:</strong> <%= doc.username %></p>
            <p><strong>Typ pliku:</strong> <%= doc.file_ext %></p>
            <p><a href="/uploads/<%= doc.filename %>"
                  download="<%= doc.title.replaceAll(' ', '_') + '.' + doc.file_ext %>">Pobierz plik</a></p>

            <% if (user?.username === doc.username || user?.is_admin === 1) { %>
                <div class="document-actions">
                    <a href="/edit-document/<%= doc.id %>" class="action-link">Edytuj</a>
                    <a href="/delete-document/<%= doc.id %>" id="delete-document-link" class="action-link">Usuń</a>
                </div>
                <div id="delete-success"></div>
                <script src="/js/deleteDocumentHandler.js"></script>
            <% } %>
        </article>

        <section class="comments-section">
            <h2>Komentarze</h2>
            <% comments.forEach(comment => { %>
                <div class="comment">
                    <p><strong>Autor:</strong> <%= comment.username %></p>
                    <p><%= comment.content %></p>
                    <p><strong>Data dodania:</strong> <%= new Date(comment.created_at).toLocaleDateString() %></p>
                </div>
            <% }); %>

            <form id="commentForm" method="post">
                <h3>Dodaj komentarz</h3>

                <div class="form-group">
                    <label for="contentInput">Treść</label>
                    <textarea id="contentInput" name="content" rows="4" required></textarea>
                </div>
                <input type="hidden" name="documentId" value="<%= doc.id %>">
                <input type="hidden" name="userId" value="<%= user?.id || -1 %>">
                <div id="add-comment-error-wrapper"></div>
                <button type="submit" class="btn-submit">Dodaj komentarz</button>

            </form>
        </section>


    </main>

    <aside class="related-documents">
        <% if (!sameCategoryDocs && !sameUserDocs) { %>
            <p>Nie ma innych dokumentów.</p>
        <% } else { %>
            <section class="same-category">
                <h3>Dokumenty w tej samej kategorii</h3>
                <% if (sameCategoryDocs && sameCategoryDocs.length > 0) { %>
                    <% sameCategoryDocs.forEach(doc => { %>
                        <hr>
                        <div class="related-document">
                            <a href="/document/<%= doc.id %>">
                                <p><strong>Tytuł:</strong> <%= doc.title %></p>
                                <p><strong>Autor:</strong> <%= doc.author %></p>
                            </a>
                        </div>

                    <% }); %>
                <% } else { %>
                    <p>Brak dokumentów w tej samej kategorii.</p>
                <% } %>
            </section>

            <section class="same-user">
                <h3>Dokumenty od tego samego użytkownika</h3>
                <% if (sameUserDocs && sameUserDocs.length > 0) { %>
                    <% sameUserDocs.forEach(doc => { %>
                        <hr>
                        <div class="related-document">
                            <a href="/document/<%= doc.id %>">
                                <p><strong>Tytuł:</strong> <%= doc.title %></p>
                                <p><strong>Autor:</strong> <%= doc.author %></p>
                            </a>
                        </div>
                    <% }); %>
                <% } else { %>
                    <p>Brak dokumentów od tego samego użytkownika.</p>
                <% } %>
            </section>
        <% } %>
    </aside>

</div>

<%- include('../partials/popup.ejs') %>
<%- include('../partials/footer.ejs') %>
</body>

<script src="/js/addCommentHandler.js"></script>
</html>
