<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DocStore</title>
    <link rel="stylesheet" type="text/css" href="css/home.css">
</head>
<body>
<%- include('partials/header.ejs') %>

<div class="file-extension-section">
    <h2>Najpopularniejsze typy dokumentów w naszym serwisie</h2>
    <div class="file-extension-cards">
        <% fileExtensions.forEach(ext => { %>
            <div class="file-extension-card">
                <h3><%= ext.file_ext.toUpperCase() %></h3>
                <p><%= ext.count %></p>
            </div>
        <% }); %>
    </div>
</div>

<div class="container">
    <div class="left">
        <h3>Ostatnio dodane</h3>
        <hr>
        <% documents.forEach((doc) => { %>
            <a href="/document/<%= doc.id %>" class="blankLink">
                <div class="documentCard">
                    <h4><%= doc.title %> <% doc.id %></h4>
                    <p><strong>Opis:</strong> <%= doc.description %></p>
                    <p><strong>Autor:</strong> <%= doc.author %></p>
                    <p>Przesłał: <%= doc.username %></p>
                </div>
            </a>
        <% }); %>

        <a href="/filter-documents"><button>Wszystkie dokumenty</button></a>
    </div>

    <div class="right">
        <h4>Wyszukaj</h4>
        <form id="searchForm" method="get" action="/filter-documents">
            <label for="titleInput">Tytuł</label>
            <input id="titleInput" name="title" type="text" class="searchInput">

            <label for="authorInput">Autor</label>
            <input id="authorInput" name="author" type="text" class="searchInput">

            <label for="descriptionInput">Opis</label>
            <input id="descriptionInput" name="description" type="text" class="searchInput">

            <label for="uploadedByInput">Przesłał</label>
            <input id="uploadedByInput" name="uploadedBy" type="text" class="searchInput">

            <p>Data przesłania:</p>
            <label for="uploadedFromInput">Od:</label><input id="uploadedFromInput" name="uploadedFrom" type="date" class="searchInput">

            <label for="uploadedToInput">Do:</label><input id="uploadedToInput" name="uploadedTo" type="date" class="searchInput">

            <p>Kategorie</p>
            <div id="categories">
                <% categories.forEach(category => { %>
                    <label>
                        <input type="checkbox" name="categories" value="<%= category.id %>"> <%= category.category_name %>
                    </label>
                <% }); %>
            </div>

            <label for="orderBySelect">Sortuj według</label>
            <select id="orderBySelect" name="orderBy" class="searchInput">
                <option value="uploaded_at">Data przesłania</option>
                <option value="title">Tytuł</option>
                <option value="author">Autor</option>
            </select>

            <label for="orderTypeSelect">Typ sortowania</label>
            <select id="orderTypeSelect" name="orderType" class="searchInput">
                <option value="asc">Rosnąco</option>
                <option value="desc">Malejąco</option>
            </select>

            <button type="submit">Filtruj</button>
        </form>
    </div>

</div>

<%- include('partials/footer.ejs') %>
</body>
</html>
